.env.local
.env
**/.env
.env.production
**/node_modules/
**/dist/
**/build/
**/__pycache__/
**/.expo/
.gradle/
.android/
.venv/
*.pyc
*.sqlite3
*.apk
*.aab
artifacts/
.vercel/
*.jks
keystore.properties
**/local.properties
